.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  @media (min-width: $ms) {
    flex-direction: row;
  }
}

.propos {
  flex: 1;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin: 7px;
  border-radius: 10px;
  @media (min-width: $ms) {
    flex-direction: row;
    flex: 1;
    color: white;
  }
  .proposBlock {
    margin: 10px;
    .nom {
      display: flex;
      font-size: 35px;

      @media (min-width: $ms) {
        font-size: 55px;
      }
      @media (min-width: $ls) {
        font-size: 65px;
      }
    }

    h2 {
      font-size: 25px;
      margin-top: 15px;
      @media (min-width: $ms) {
        font-size: 20px;
      }
      @media (min-width: $ls) {
        font-size: 30px;
      }
    }

    p {
      font-size: 10px;
      margin-top: 15px;
      margin-bottom: 25px;
      @media (min-width: $ms) {
        font-size: 15px;
        margin-bottom: 30px;
      }
      @media (min-width: $ls) {
        font-size: 20px;
      }
    }

    .button {
      display: flex;
    
      .contact {
        background-color: black;
        color: white;
        gap: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        &:hover {
          background-color: white;
          border: solid white;
         color: black;
        }
        @media (min-width: $ms) {
          font-size: 16px;
          width: 125px;
          height: 40px;
        }
        @media (min-width: $ls) {
          width: 180px;
          height: 60px;
          font-size: 25px;
        }
      }

      .git {
        border-radius: 5px;
        background-color: white;
       border-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        height: 30px;

        &:hover {
          background-color: black;
          border: solid white;
          color: white;
        }

        @media (min-width: $ms) {
          font-size: 16px;
          width: 125px;
          height: 40px;
        }
        @media (min-width: $ls) {
          width: 180px;
          height: 60px;
          font-size: 25px;
        }
      }

      a {
        text-decoration: none;
        margin: 5px;
      }
    }
  }
}
.photoMe {
  border-radius: 10px;
  flex: 1;
  color: black;
  display: none;
  @media (min-width: $ms) {
    display: flex;
    width: 350px;
    height: 400px;
    margin: 7px;
    border: solid 5px white rgba(180, 180, 180);
  }

  .PhotoMoi {
    display: none;
    @media (min-width: $ms) {
      display: flex;
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
    }
   
  }
}
