.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-inline: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  @media (min-width: $ms) {
    flex-direction: row;
  }

  .about {
    flex: 1;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin: 7px;
    border-radius: 5px;
    border: solid 3px;
    @media (min-width: $ms) {
      flex-direction: row;
      flex: 1;
      color: white;
    }
    .blockAbout {
      margin: 10px;
      .name {
        display: flex;
        font-size: 35px;

        @media (min-width: $ms) {
          font-size: 55px;
        }
        @media (min-width: $ls) {
          font-size: 65px;
        }
        @media (min-width: $bs) {
          font-size: 75px;
        }
      }

      h2 {
        font-size: 25px;
        margin-bottom: 10px;
        @media (min-width: $ms) {
          margin-top: 15px;
          font-size: 23px;
        }
        @media (min-width: $mss) {
          font-size: 28px;
        }
        @media (min-width: $ls) {
          font-size: 30px;
        }
        @media (min-width: $bs) {
          font-size: 38px;
        }
      }

    h3 {
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 25px;
        @media (min-width: $ms) {
          font-size: 15px;
          margin-bottom: 30px;
        }
        @media (min-width: $mss) {
          font-size: 18px;
        }
        @media (min-width: $ls) {
          font-size: 20px;
        }
        @media (min-width: $bs) {
          font-size: 25px;
        }
      }
    }
    .button {
      display: flex;

      .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-weight: bold;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 0.5px solid rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        &:hover {
          background-color: black;
          border: solid white;
          color: white;
        }
        @media (min-width: $ms) {
          font-size: 14px;
          width: 155px;
          height: 40px;
        }
        @media (min-width: $ls) {
          width: 180px;
          height: 60px;
          font-size: 22px;
          margin-top: 40px;
        }
        @media (min-width: $bs) {
          width: 250px;
          margin-top: 55px;
        }
      }

      .git {
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: bold;
        padding: 10px;
        gap: 10px;      
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 0.5px solid rgb(255, 255, 255);
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;

        &:hover {
          background-color: black;
          border: solid white;
          color: white;
        }

        @media (min-width: $ms) {
          font-size: 14px;
          width: 155px;
          height: 40px;
        }
        @media (min-width: $ls) {
          width: 180px;
          height: 60px;
          font-size: 23px;
          margin-top: 40px;
        }
        @media (min-width: $bs) {
          width: 250px;
          margin-top: 55px;
        }
      }

      a {
        text-decoration: none;
        margin: 5px;
      }
    }
  }

  .myPhoto {
    border-radius: 5px;
    flex: 1;
    color: black;
    display: none;
    border: 3px solid white;
    border-radius: 5px;
width: 100%;
    @media (min-width: $ms) {
      display: flex;
      width: 350px;
     height: 380px;
      margin: 7px;
      background: linear-gradient(128deg, rgba(0, 0, 0, 0.074) 5.95%, rgba(255, 255, 255, 0.08) 91.5%);
      backdrop-filter: blur(3.5px);
    }
      @media (min-width: $ls) {
       height:438px ;
      }
    .portrait {
      display: none;
      @media (min-width: $ms) {
        display: flex;
         width: 100%;
        object-fit: contain;
      }
    }
  }
}