.title {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-decoration: underline white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 7px;
  @media (min-width: $ls) {
    font-size: 40px;
  }
}
.blockProjects {
  margin-bottom: 20px;
  border: none;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  @media (min-width: $ms) {
    border: none;
  }
  @media (min-width: $ls) {
    width: 99%;
  }

  .imProjects {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    @media (min-width: $ms) {
      width: 100%;
      height: auto;
    }
    &:hover {
      transform: scale(1.1);
      background-color: #333;
    }
  }

  .card-bloc-item {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    margin: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
      128deg,
      rgba(0, 0, 0, 0.074) 5.95%,
      rgba(255, 255, 255, 0.08) 91.5%
    );
    backdrop-filter: blur(2px);
    overflow: hidden;
    color: white;
    gap: 10px;
    border: 2px solid white;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      z-index: -1;
    }
    @media (min-width: $ms) {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 45%;
      height: auto;
      display: flex;
    }
  }

  .card {
    text-decoration: none;
    width: 100%;
    h2 {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      @media (min-width: $bs) {
        font-size: 22px;
      }
    }

    .tags {
      display: flex;
      justify-content: center;
      color: rgba(4, 0, 0, 0.625);
      font-weight: 1000;
      padding: 10px;
      gap: 10px;
      border-radius: 5px;
      border: 0.5px solid rgb(255, 255, 255);
      backdrop-filter: blur(5px);
      &:hover {
        color: white;
      }
      @media (min-width: $bs) {
        font-size: 20px;
      }
    }
  }
}
/* MODAL WORK */
.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-content {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // width: 80vw;
    // max-height: 400px;
    width: 300px;
    height: 400px;
    background-color: #ffffff7e;
    //background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    border: 3px solid;
    // @media (min-width: $ms) {
    // }
    // @media (min-width: $ls) {
    // }
    // @media (min-width: $bs) {
    // }
    .modal-image {
      width: 100%;
      max-height: 70%;
      object-fit: contain;
    }

    .modal-description {
      font-size: 14px;
      margin: 10px;
      //color: #ddd;
      color: #000000;
    }

    .prev,
    .next {
      border: none;
      background-color: unset;
      position: absolute;
      z-index: 1;
      background-color: #ddd;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .prev {
      margin-right: 200px;
      margin-top: -90px;
      @media (min-width: $ms) {
        margin-right: 550px;
      }
      @media (min-width: $ls) {
        margin-right: 800px;
      }
      @media (min-width: $bs) {
        margin-right: 1000px;
      }
    }

    .next {
      margin-left: 200px;
      margin-top: -90px;
      @media (min-width: $ms) {
        margin-left: 550px;
      }
      @media (min-width: $ls) {
        margin-left: 800px;
      }
      @media (min-width: $bs) {
        margin-left: 1000px;
      }
    }

    .vector {
      width: 15px;
      height: 15px;
      color: black;
    }
  }
}
