.titleProject{
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(
    128deg,
    rgba(0, 0, 0, 0.074) 5.95%,
    rgba(255, 255, 255, 0.08) 91.5%
  );
  backdrop-filter: blur(3.5px);
  //   @media (min-width: $ms) {
  //  //width: 98%;
  //   }
  @media (min-width: $ls) {
    font-size: 40px;
  }
}
.blockProjects {
  margin-bottom: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin: 5px;
  @media (min-width: $ms) {
    border: none;
  }

  .picturesProjects {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    @media (min-width: $ms) {
      width: 100%;
      height: auto;
    }
    &:hover {
      transform: scale(1.035);
      background-color: #333;
    }
  }

  .card-bloc-item {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
      128deg,
      rgba(0, 0, 0, 0.074) 5.95%,
      rgba(255, 255, 255, 0.08) 91.5%
    );
    backdrop-filter: blur(2px);
    overflow: hidden;
    color: white;
    gap: 10px;
    border: 3px solid white;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      z-index: -1;
    }
    &:hover {
      transform: scale(1.035);
      background-color: #A0A0A0;
    }
    @media (min-width: $ms) {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 45%;
      height: auto;
      display: flex;
    }
  }

  .card {
    text-decoration: none;
    width: 100%;
    h3 {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      @media (min-width: $bs) {
        font-size: 22px;
      }
    }

    .tags {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: flex;
      justify-content: center;
      color: white;
      font-weight: 1000;
      padding: 5px;
      border-radius: 5px;
      border: 0.5px solid rgb(255, 255, 255);
      backdrop-filter: blur(5px);

      @media (min-width: $bs) {
        font-size: 20px;
      }
    }
  }
}

// /* MODAL WORK */

.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modalContent {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  position: relative;
  padding: 20px;
  //border: solid 3px white;
  border: 3px solid rgba(255, 255, 255, 0.9);
  background: linear-gradient(
    128deg,
    rgba(255, 255, 255, 0.9) 5.95%,
    rgba(300, 300, 300, 0.09) 100%
  );
  backdrop-filter: blur(9px);

  @media (min-width: $ms) {
    width: 500px;
    height: 650px;
  }
  @media (min-width: $ls) {
    width: 600px;
    height: 750px;
  }
  @media (min-width: $bs) {
   width: 700px;
   height: 800px; 
  }
  .aroundImage {
    background-color: #2d2d2d;
    padding: 20px 5px 5px 5px;
    margin: 5px;
  }
  .modalImage {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  .titleDescr {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
    @media (min-width: $ms) {
      font-size: 30px;
    }
  }
  .modalDescription {
    font-size: 11px;
    @media (min-width: $ms) {
      font-size: 15px;
    }
    @media (min-width: $ls) {
      font-size: 20px;
    }
  }
  .tags {
    margin: 20px;
    margin-left: 180px;
    bottom: 5px;
    transform: translateX(-50%);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    @media (min-width: $ms) {
      margin-left: 300px;
      font-size: 20px;
    }
    @media (min-width: $ls) { 
      margin-left: 250px;
      font-size: 20px;
    }

  }
  .linkGit {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    &:hover {
      background-color: white;
      border-radius: 50%;
      border: 1px solid white;
    }
    @media (min-width: $ms) {
      width: 40px;
      height: 40px;
    }
    @media (min-width: $ls) {
      width: 50px;
      height: 50px;
      margin-top: 20px;
    }
  }
  .buttonSlides {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
  }
  .prev {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #292929;
    border: 2px solid white;
    cursor: pointer;
  }
  .next {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #292929;
    cursor: pointer;
  }
  .prev,
  .next {
    &:hover {
      background-color: #5d6569;
    }
  }
}
