.button2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;

  .frontend,
  .backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;

  }
  .frontend {
    margin-bottom: 10px;
  }
  .front {
    background-color: black;
    margin: 10px;
    color: white;
    gap: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 30px; 
  }
  .back {
    margin: 10px;
    background-color: white;
    border-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 30px;
  }

  // .line{
  //   border: solid 2px;
  // }
  .circles {
    width: 280px;
    height: 280px;
  }
}

.banner1 {
  //width: 300px;
  height: 100px;
  background-color: #ececec;
  margin: 7px;
  .work {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
  }
  .map {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    .logoSkills { 
      width: 35px;
      height: 35px;
      object-fit:cover;
      transition: 0.1 ease;
    }
     .logoSkills:hover {
      width: 50px;
      overflow: hidden;
    }
  }
}
