.aboutMe {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: linear-gradient(
    128deg,
    rgba(255, 255, 255, 0.3) 5.95%,
    rgba(255, 255, 255, 0.02) 91.5%
  );
  backdrop-filter: blur(1px);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
  }

  .titleAbout {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 10px;
    @media (min-width: $ms) {
      font-size: 35px;
    }
  }

  .textAbout {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    @media (min-width: $ls) {
      font-size: 17px;
    }

    @media (min-width: $bs) {
      font-size: 17px;
    }
  }

  .block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.bannerSkills {
  width: 98%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  background: linear-gradient(
    128deg,
    rgba(0, 0, 0, 0.074) 5.95%,
    rgba(255, 255, 255, 0.08) 91.5%
  );
  backdrop-filter: blur(2px);
  overflow: hidden;
  padding: 15px;
  margin: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $ms) {
    width: 99%;
    height: 300px;
    margin: 7px;
    padding: 10px;
  }
  @media (min-width: $ls) {
    height: 350px;
  }
  @media (min-width: $bs) {
    height: 200px;
  }
  .titleSkills {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    background: linear-gradient(
      128deg,
      rgba(0, 0, 0, 0.074) 5.95%,
      rgba(255, 255, 255, 0.08) 91.5%
    );
    backdrop-filter: blur(3.5px);
  }
  .workWith {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    @media (min-width: $ms) {
      font-size: 30px;
    }
    @media (min-width: $ls) {
      font-size: 40px;
    }
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    gap: 30px;
    .logoContainer {
      position: relative;

      .logoSkills {
        width: 35px;
        height: 35px;
        object-fit: cover;
        transition: transform 0.2s ease;
        @media (min-width: $ms) {
          width: 65px;
          height: 65px;
        }
        @media (min-width: $ls) {
          width: 100px;
          height: 100px;
          margin-top: -10px;
        }
        &:hover {
          transform: scale(1.4);
        }
      }

      &[data-tooltip] {
        position: relative;
        cursor: pointer;
        &:hover::after {
          content: attr(data-tooltip);
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #333;
          color: #fff;
          border-radius: 5px;
          font-size: 8px;
          padding: 5px;
          visibility: visible;
          opacity: 1;
          z-index: 1;
          transition: opacity 0.3s;
          @media (min-width: $ms) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.skillsPictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  color: white;
  width: 100%;

  @media (min-width: $ms) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .frontend,
  .backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
  }
  .front,
  .back {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.217);
    backdrop-filter: blur(3px);
    @media (min-width: $ms) {
      font-size: 20px;
    }
  }
  .pictures {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.217);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}
