@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@300;400&display=swap");

/*taille d'écran */
$ms: 767px;
$mss: 1000px;
$ls: 1150px;
$bs: 1440px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
section {
  border: 3px solid #ddd;
}
